.planet-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 40%;
  margin: auto;
}

.planet-heading {
  color: #05acff;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 500;
}

.planet-img {
  width: 250px;
  height: 200px;
}

.planet-name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}

.description {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 12px;
  text-align: center;
}
